* {
    box-sizing: border-box;
}

.contact {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    color: white;
    perspective: 1000px;
}

.info {
    background: #e09696;
    border-radius: 25px 0 0 25px;
    display: inline-block;
    width: 70%;
    height: 60px;
    padding: 21px;
    overflow: auto;
}

.card {
    border-radius: 0 25px 25px 0;
    display: inline-block;
    width: 30%;
    height: 60px;
    /*border: 1px solid green;*/
    position: relative;
    transition: transform 0.35s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    position: absolute;
}

.back {
    background: #e09696;
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4px;
}

.front {
    background: #e09696;
    backface-visibility: hidden;
    /*border-left: 3px solid #d69292;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.card:hover {
    transform: rotateX(180deg);
}