.header {
    width: 100vw;
    height: 50px;
    opacity: 0.9;
    background: #ffb92e;
    position: absolute;
    z-index: 2;
}

.interfaceApp {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.newContact {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6edb8d;
    border: none;
    position: absolute;
    top: 5px;
}

.search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #528187;
    border: none;
    position: absolute;
    top: 5px;
    left: 45px;
}

.closeNC {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    border: none;
    background: #ff5454;
}
