.header {
    width: 100vw;
    height: 50px;
    opacity: 0.9;
    background: #ebe6e6;
    position: absolute;
    z-index: 2;
}

.interfaceApp {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.newContact {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #49e3a3;
    border: none;
    position: absolute;
    top: 5px;
    transition: all 0.1s linear;
}

.newContact,
.newContact:active,
.newContact:focus {
    outline: none;
}

.newContact:hover {
    font-size: 18px;
    background: #3dd193;
}

.search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b8d5de;
    border: none;
    position: absolute;
    top: 5px;
    left: 45px;
    transition: all 0.1s linear;
}

.search:hover {
    font-size: 18px;
    background: #a1c2cc;
}

.search,
.search:active,
.search:focus {
    outline: none;
}

.closeNC {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    border: none;
    background: #ed9f9f;
    transition: all 0.2s linear;
}

.closeNC:hover {
    font-size: 18px;
    background: #f07373;
    transform: rotate(180deg);
}


.closeNC,
.closeNC:active,
.closeNC:focus {
    outline: none;
}