.logout {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ed9f9f;
    border: none;
    outline: none;
    transition: all 0.1s linear;
}

.logout:hover {
    font-size: 18px;
    background: #ad3b3b;
}