.newContactContainer {
    width: 100vw;
    height: 100vh;
    /*border: 3px solid red;*/
    box-sizing: border-box;
    position: absolute;
    /*top: 50px;*/
    left: calc(-50vw + 250px);
    background: #ffb92e;
    display: flex;
    justify-content: center;
    align-items: center;
}