.newContactContainer {
    width: 100vw;
    height: 100vh;
    /*border: 3px solid red;*/
    box-sizing: border-box;
    position: absolute;
    /*top: 50px;*/
    left: calc(-50vw + 250px);
    background: #ebe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    width: 250px;
    height: 320px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #4a676b, #1e2829);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    font-family: 'Quattrocento', 'Open Sans', serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #e4f3f5;
    opacity: 0.9;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    margin-bottom: 10px;
    width: 100%;
    border: none;
    height: 30px;
    border-bottom: 1px solid #e4f3f5;
    outline: none;
    background: transparent;
    color: #e4f3f5;
    font-size: 16px;
}

.loginbox input:focus {
    border-color: #6edb8d;
}

.loginbox button {
    width: 100%;
    height: 40px;
    background: #528187;
    border: none;
    outline: none;
    font-size: 18px;
    color: #e4f3f5;
    border-radius: 5px;
    font-family: 'Quattrocento',  'Open Sans', serif;
}

.loginbox button:hover {
    background: #25a869;
    cursor: pointer;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.5em;
}