.searchForm input{
    width: 365px;
    height: 40px;
    border-radius: 20px;
    background: #f5fbff;
    border: none;
    position: absolute;
    top: 5px;
    right: 45px;
    padding-left: 10px;
    font-size: 1em;
    color: #000;
}

.searchForm input,
.searchForm input:active,
.searchForm input:focus {
    outline: none;
}