.call,
.delete,
.edit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.1s linear;
}

.call:hover {
    background: #178758;
    font-size: 18px;
}

.delete:hover {
    background: #913a3a;
    font-size: 18px;
}

.edit:hover {
    background: #44a1ad;
    font-size: 18px;
}

.delete {
    background: #f7a8a8;
}

.edit {
    background: #97ecf7;
}

.call {
    background: #5ae8b4;
}

.call,
.call:active,
.call:focus {
    outline: none;
}

.edit,
.edit:active,
.edit:focus {
    outline: none;
}

.delete,
.delete:active,
.delete:focus {
    outline: none;
}