.call,
.delete,
.edit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    transition: background 0.2s linear;
}

.call:hover {
    background: green;
}

.delete:hover {
     background: red;
 }

.edit:hover {
    background: blue;
}

.delete {
    background: #ff5454;
}

.edit {
    background: #e4f3f5;
}

.call {
    background: #25a869;
}